@model PaninoEntity

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descrizione)
        @Html.TextBoxFor(model => model.Descrizione, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prezzo)
        @Html.TextBoxFor(model => model.Prezzo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Prezzo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
    </div>
}
