@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model CartItemCollection
@{
	ViewData["Title"] = "Carrello";
}
<div class="Container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<center>
				<Titolo>Carrello</Titolo>
			</center>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="table-responsive ">
			<table class="table table-striped table-light">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Prezzo (€)</th>
						<th>Plus</th>
						<th>Bevanda</th>
						<th>Note</th>
						<th>
							Azione
						</th>
					</tr>
				</thead>
				<tbody>
					@if (String.IsNullOrEmpty(@Accessor.HttpContext?.Session.GetString("Collection")))
					{
						<tr>
							<td colspan="6" class="dt-empty"><center>Nessun elemento presente nel carrello</center></td>
						</tr>
					}
					else
					{
						@foreach (var x in Model)
						{
							<tr>
								<td><p>@x.Panino</p></td>
								<td><p>€ @x.Prezzo</p></td>
								<td>
									@if (x.Plus == true)
									{
										<i class="bi bi-check-lg" style="color:forestgreen;"></i>
									}
								</td>
								<td>
									<p>@x.Bevanda</p>
								</td>
								<td>
									<p>@x.Note</p>
								</td>
								<td>
									<button class="btn btn-danger">
										<i class="bi bi-trash-fill"></i>
									</button>
								</td>
							</tr>
						}
					}

				</tbody>
			</table>
		</div>
	</div>
</div>
