@{
	ViewData["Title"] = "Menù";
}
<script>
	$(document).ready(function () {
		$('#check1').change(function () {
			if (this.checked) {
				$('#DropDownBevanda').show();
			} else {
				$('#DropDownBevanda').hide();
			}
		});
	});

</script>

<script>
	$(function () {
		$('.open-modal').click(function () {
			var guid = $(this).data('guid');
			$.get('/Home/ShowModal', { PaninoID: guid }, function (data) {
				$('#myModal').html(data);
				$('#myModal').modal('show');
			});
			return false;
		});
	});
</script>


<div class="Container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<center>
				<Titolo>Menù</Titolo>
			</center>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
<br />

<div class="container">
	<div class="row">
		@foreach (var x in Model)
		{

			<div class="col-md-3">
				<div class="card" style="width: 18rem; margin-bottom:20px;">
					<img class="card-img-top" src="@x.PathImage" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">@x.Nome</h5>
						<p class="card-text">€ @x.Prezzo</p>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
							Dettagli
						</button>
						<a href="#" class="open-modal" data-guid="@x.PaninoID">Show Modal</a>
						@* <a href=@Url.Action("ShowModal", "Home", new { PaninoID = @x.PaninoID }) data-toggle="modal" data-target="#myModal">Show Modal</a> *@
						
					</div>
				</div>
			</div>
		}
	</div>
</div>





