@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tumanji</title>
    <link rel="icon" href="~/Images/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tumanji.styles.css" asp-append-version="true" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body id="Body">

    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Images/Logo/logo.png" alt="" width="30" height="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            @if (String.IsNullOrEmpty(@Accessor.HttpContext?.Session.GetString("UserID")))
                            {
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contatti"><i class="bi bi-telephone-fill"></i> Contatti</a>
                            }
                            else
                            {
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="News"><i class="bi bi-newspaper"></i> Notizie</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (String.IsNullOrEmpty(@Accessor.HttpContext?.Session.GetString("UserID")))
                            {
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Menu"><i class="bi bi-kanban-fill"></i> Menù</a>
                            }
                            else
                            {
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="EditMenu"><i class="bi bi-kanban-fill"></i> Modifica Menù</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (String.IsNullOrEmpty(@Accessor.HttpContext?.Session.GetString("UserID")))
                            {
                                <a  class="nav-link text-light position-relative" asp-area="" asp-controller="Home" asp-action="Carrello">
                                    <i class="bi bi-cart-fill"></i> Carrello
                                    @if (!String.IsNullOrEmpty(@Accessor.HttpContext?.Session.GetString("Count")) && @Accessor.HttpContext?.Session.GetString("Count")!="0")
                                    {
                                       <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            @Accessor.HttpContext?.Session.GetString("Count")
                                        <span class="visually-hidden">unread messages</span>
                                    </span> 
                                    }
                                    
                                </a>
                            }
                            else
                            {
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Ordinazioni"><i class="bi bi-house-door-fill"></i> Ordinazioni</a>
                            }
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                            @if (String.IsNullOrEmpty(@Accessor.HttpContext?.Session.GetString("UserID")))
                            {
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Login"><i class="bi bi-person-fill"></i> Area Amministrativa</a>
                            }
                            else
                            {
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <br />
    <footer class="footer text-muted">
        <div class="mt-5 p-4 bg-dark text-white text-center">
            &copy; 2024 - Tumanji
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-circle" href=""><i class="bi bi-facebook"></i></button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-circle" href=""><i class="bi bi-whatsapp"></i></button>
                </div>
                <div class="col-md-2">
                    <button class="btn share-btn share-btn-instagram btn-circle" href=""><span class="bi bi-instagram share-text"></span></button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark btn-circle text-light" href=""><i class="bi bi-twitter-x " style="color:white;"></i></button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
